@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  * {
    margin: 0;
    padding: 0;
    cursor: default;
    box-sizing: border-box;
    /* outline: 1px solid red; */
  }

  ::-moz-selection {
    background: #d1d1c7;
  }
  ::-webkit-selection {
    background: #d1d1c7;
  }
  ::selection {
    background: #d1d1c7;
  }

  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1 {
    @apply font-neueMontrealBold tracking-headings;
  }

  h2 {
    @apply font-neueMontrealMedium;
  }
  h3,
  h4 {
    @apply font-general tracking-headings;
  }

  .font-outline-4 {
    -webkit-text-stroke: 5px black;
  }

  .font-outline-3 {
    -webkit-text-stroke: 4px #0e0e0c;
  }

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background-nav: #262626;
    --background-secondary: #fafaf9;
    --text-nav: #d1d1c7;
    --text-logo: #0e0e0c;
  }

  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("/assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans-Variable";
    src: url("/assets/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  /* Neue Montreal */
  @font-face {
    font-family: "NeueMontreal-Regular";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-Regular.otf")
      format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal-Italic";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-Italic.otf")
      format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "NeueMontreal-Medium";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-Medium.otf")
      format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal-MediumItalic";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-MediumItalic.otf")
      format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "NeueMontreal-Light";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-Light.otf")
      format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal-LightItalic";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-LightItalic.otf")
      format("opentype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "NeueMontreal-Bold";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-Bold.otf")
      format("opentype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "NeueMontreal-BoldItalic";
    src: url("/assets/fonts/NeueMontreal/NeueMontreal-BoldItalic.otf")
      format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  html::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  html {
    scrollbar-width: none;
  }

  html {
    -ms-overflow-style: none;
  }

  html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  html,
  body {
    font-family: "NeueMontreal-Regular", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
  }

  .open {
    overflow: hidden;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

@layer components {
  roundedButton > p {
    position: relative;
    z-index: 1;
    transition: color 0.4s linear;
  }

  roundedButton:hover > p {
    color: white;
  }
  description:nth-of-type(1) {
    font-size: 36px;
    gap: 8px;
    line-height: 1.3;
  }
  description:nth-of-type(1) > span {
    margin-right: 3px;
  }
  description:nth-of-type(1) > .mask {
    position: relative;
    overflow: hidden;
    display: inline-flex;
  }

  .replay {
    border: 0;
    background: none;
    color: var(--color-text-1);
    font-family: "mencken-std-head-narrow", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    align-self: start;
    cursor: pointer;
    margin: 0 5vw;
    padding: 1rem 1rem;
    position: relative;
  }

  .replay::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid;
    transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
    border-radius: 10px;
    left: 50%;
    box-shadow:
      10px 10px 0 black,
      11px 11px 0 currentColor;
  }

  .replay:hover {
    color: var(--color-text-2);
  }

  .replay:active {
    color: var(--color-text-2);
    transform: translate3d(0, 5px, 0);
  }

  .replay:active::before {
    box-shadow:
      6px 6px 0 black,
      7px 7px 0 currentColor;
  }

  description:nth-of-type(2) {
    font-size: 18px;
    width: 80%;
    font-weight: 300;
  }

  .burger {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .burger::after,
  .burger::before {
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    background-color: black;
    position: relative;
    width: 80%;
    transition: transform 0.3s;
  }
  .burger::after {
    top: 0px;
  }
  .burger::before {
    top: 14px;
  }

  .burgerActive::after {
    transform: rotate(45deg);
    top: 5px;
  }
  .burgerActive::before {
    transform: rotate(-45deg);
    top: 6px;
  }

  .magnet {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(28, 29, 32, 0.175);
    box-shadow: inset 0px 0px 0px 0px rgba(28, 29, 32, 0.175);
  }
}
